.item {
  padding: 24px;
  border-radius: 10px;
}

::ng-deep .ant-modal-body {
  padding: 0;
}

::ng-deep .ant-upload.ant-upload-drag {
  border-radius: 8px;
}

::ng-deep .ant-select:not(.ant-select-customize-input) .ant-select-selector {
  border-radius: 8px;
}