/* You can add global styles to this file, and also import other style files */
@import "~ng-zorro-antd/ng-zorro-antd.min.css";

.mt-24 {
  margin-top: 24px;
}

.f18 {
  font-size: 18px;
}

.fw-bold {
  font-weight: bold;
}

.flex {
  display: flex;
}

.font-color-blue {
  color: #007BFF;
}

.bg-gray {
  background-color: rgb(240 242 245);
}

.pd-24 {
  padding: 24px;
}

.bg-white {
  background-color: #fff;
}

.border-radius-8 {
  border-radius: 8px;
}

.mg-top-bottom-10 {
  margin: 10px 0;
}